# Dependencies
/vendor
/node_modules

# Environment & keys
.env
*.env
*.key

# Writable (CI4 logs, cache, session, debugbar)
writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*
!writable/**/.gitkeep
